---
import FormattedDate from "./FormattedDate.astro";
import {
  Card,
  CardTitle,
  CardFooter,
  CardHeader,
  CardContent,
  CardDescription,
} from "./ui/card";

const { post } = Astro.props;
const { title, content, createdAt, slug } = post;
---

<Card>
  <CardHeader>
    <a href={`/post/${slug}`}><CardTitle>{title}</CardTitle></a>
    <CardDescription><FormattedDate date={createdAt} /></CardDescription>
    <CardDescription>{post?.author?.email ?? "Deleted user"}</CardDescription>
  </CardHeader>
  <CardContent>
    <p>
      {
        content
          .substring(0, content.length > 200 ? 200 : content.length)
          .replace(/([*_~\`#]|(?:\[(.*?)\]\(.*?\)))/g, "")
      }...
    </p>
  </CardContent>
  <CardFooter>
    <a class="text-lg underline" href={`/post/${slug}`}>Read more</a>
  </CardFooter>
</Card>
